@import url('colors.css');

@font-face {
    font-family: 'DotFont';
    src: url('DotFont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('poppins.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    padding-left: 10vw;
    padding-right: 10vw;
    background-color: #000000;

    overflow-y: scroll;
    overflow-x: hidden;
}

/*scroll animation*/

.scroller-animation-bar {
    z-index: 3000;
    height: 8px;
    width: 100%;
    border-radius: 15px;
    background: linear-gradient(to right, var(--color-orange), var(--color-magenta));
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2001;
    scale: 0 1;
    transform-origin: left;
    animation: scroll-animation-bar linear;
    animation-timeline: scroll();
}

@keyframes scroll-animation-bar {
    to {
        scale: 1 1;
    }
}


/*navbar*/


.navbar {
    display: inline-flex;
    height: 70px;
    width: 100%;
    margin-top: 8px;
    justify-content: space-evenly;
    overflow: hidden;
    align-items: center;
    background: linear-gradient(to right, black, rgb(45, 45, 45) 20%, rgb(53, 53, 53) 80%, black);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3000;
}

.navbar .arcane {
    font-size: 40px;
    font-weight: bolder;
    font-family: sans-serif;
    color: transparent;
    background: linear-gradient(to right, var(--color-orange), var(--color-magenta));
    -webkit-background-clip: text;
    background-clip: text;
}

.navbar .list {
    display: inline-flex;
    align-items: center;
}

.navbar .list ul a {
    color: white;
    font-size: large;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

.navbar .list button {
    align-self: center;
    background-color: var(--color-yellow);
    height: 35px;
    border-radius: 10px;
}

.navbar .list button:hover {
    background-color: var(--color-orange);
}

.navbar .list button a {
    padding-right: 30px;
    padding-left: 30px;
    text-decoration: none;
    color: black;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
}




/*hamburger list*/

.ham-list {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    max-width: 700px;
    height: 100%;
    display: block;
    z-index: 2999;
    background-color: rgb(60, 60, 60);
    padding-top: 120px;
    transition: 0.4s;
}

.ham-list.is-active {
    right: 0;
}

.ham-list ul {
    text-align: center;
    padding: 16px;
}

.ham-list ul a {
    color: white;
    text-decoration: none;
    font-size: larger;
    font-family: 'Poppins', sans-serif;
    transition: 0.3s;
}

.ham-list ul a:hover {
    color: var(--color-orange);
    font-size: 25px;
}

.ham-list ul button {
    border: none;
    border-radius: 10px;
    background-color: var(--color-yellow);
    height: 40px;
    margin-top: 10px;
}

.ham-list ul button a {
    font-size: 15px;
    font-weight: bold;
    padding: 20px;
    color: black;
    text-decoration: none;
}

.ham-list ul button a:hover {
    color: black;
    padding: 30px;
}





/*hamburger button*/

.hamburger {
    margin-right: 15px;
    position: relative;
    display: block;
    width: 50px;
    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
    border: none;
}

.hamburger .bars,
.hamburger:after,
.hamburger:before {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: white;
    margin: 6px 0px;
    transition: 0.5s;
    border-radius: 4px;
}

.hamburger.is-active::before {
    transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active .bars {
    opacity: 0;
}

.hamburger.is-active::after {
    transform: rotate(45deg) translate(-9px, -7px);
}



/*media query for navbar*/

@media screen and (max-width: 768px) {
    .navbar {
        justify-content: space-between;
        height: 40px;
        padding: 10px;
    }

    .navbar .list {
        display: none;
        width: 100%;
        text-align: center;
    }
}

@media (min-width:768px) {
    .navbar .hamburger {
        display: none;
    }

    .ham-list {
        display: none;
    }
}


.spacer{
    height: 50px;
}


/* Main container */

.outer {
    padding-top: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: url(/assets/bg6.jpeg);
    background-repeat: no-repeat;
    background-size: 1400px 90vh;
    background-position: top center;

}

.outer .name_and_buttons_inner {
    display: flex;
    flex-direction: row;
    color: #fff;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    margin: 0;
}

.outer .name_and_buttons_inner .date_and_venue {
    font-family: 'Poppins', sans-serif;
}

.outer .name_and_buttons_inner .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.outer .name_and_buttons_inner .buttons button {
    height: 60px;
    width: 200px;
    z-index: 2900;
    margin-top: 10px;
    border: none;
    margin-right: 20px;
    align-items: center;
    border-radius: 10px;
    background-color: var(--color-yellow);
}

.outer .name_and_buttons_inner .buttons a {
    font-size: 20px;
    font-weight: bold;
    padding: 30px;
    color: black;
    text-decoration: none;
}

.outer .name_and_buttons_inner .buttons button:hover {
    background-color: var(--color-orange);
}

.outer .big-name {
    padding-top: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.outer .wrap .big-name{
    position: relative;
    margin-top: -5vw;
    font-size: 15vw;
    font-family: Arial, Helvetica, sans-serif;
    color: transparent;
    background: linear-gradient(to right, var(--color-magenta), var(--color-orange));
    -webkit-background-clip: text;
    background-clip: text;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;

    animation: bounce;
    animation-duration: 2s
}

@media (max-width:990px) {
    .outer .name_and_buttons_inner {
        flex-direction: column;
    }

    .outer .name_and_buttons_inner .buttons button {
        height: 45px;
        width: 160px;
    }

    .outer .name_and_buttons_inner .buttons a {
        font-size: 15px;
        font-weight: bold;
        padding: 30px;
        color: black;
        text-decoration: none;
    }
}

.info_container {
    display: flex;
    flex-direction: row;
    margin-top: 7vh;
}

.info_container .info_title {
    font-family: 'DotFont', sans-serif;
    color: var(--color-yellow);
    transform: rotate(-90deg);
    font-size: 8vw;
    height: min-content;
    margin-left: -5vw;
}

.info_container .info_exp {
    font-family: sans-serif;
    font-size: 2vw;
    color: #fff;
}



.event_no {
    padding-top: 5vh;
    position: relative;
}
.event_no::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(/assets/sun.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode:normal;
    opacity: 0;
    z-index: -1;
    transition: 3;

    animation: sun-opacity 3s linear;
    animation-timeline: view();
    animation-range-start: 15vh;
    animation-range-end: 110vh;
}
@keyframes sun-opacity{
    to {opacity: 0.4;}
}

.event__no{
    display: flex;
    padding: 2.5vh;
    flex-direction: column;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    color: transparent;
    background: linear-gradient(to right, var(--color-orange), var(--color-magenta));
    -webkit-background-clip: text;
    background-clip: text;
    align-items: center;
    z-index: 2000;
}
.event_no .row .no {
    font-size: 15vw;
}

.event_no .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 10vw;
}

.event_no .row .plus {
    font-size: 15vw;
}

.event_no .event_name .event {
    font-size: 5vw;
    margin-top: -1vw;
    height: 3vw;
}

.events {
    display: flex;
    flex-direction: row;
    margin-top: 25vh;
}

.events .event_title {
    font-family: 'DotFont', sans-serif;
    color: var(--color-yellow);
    transform: rotate(-90deg);
    font-size: 5vw;
    height: min-content;
    margin-left: -4vw;
}

.events .events-exp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -12vw;
    z-index: 2500;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
}

.events .events-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60vw;
    align-items: center;
}

.events .events-item .events-name {
    font-size: 2vw;
}

.events .events-item .events-view {
    padding-left: 4vw;
    padding-right: 4vw;
    font-size: 2vw;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
}
.events .events-item .events-view a{
    text-decoration: none;
}

.events .events-exp .divider {
    border-bottom: 2px dotted;
}



.gradient_names {

    position: relative;
    margin-left: -68vw;
    margin-top: 5vw;
    margin-bottom: -10vw;
    font-size: 9vw;
    font-weight: bolder;
    font-family: sans-serif;
    z-index: 2400;
}


.gradient_names .bigg-name1,
.gradient_names .bigg-name2,
.gradient_names .bigg-name3,
.gradient_names .bigg-name4,
.gradient_names .bigg-name5,
.gradient_names .bigg-name6 {
    margin-top: -28vw;
    opacity: 0.1;

    color: transparent;
    background: linear-gradient(to right, var(--color-orange), var(--color-magenta));
    -webkit-background-clip: text;
    background-clip: text;

    animation: gradient-opacity 0.5s linear;
    animation-timeline: view();
    animation-range-start: 60vh;
    animation-range-end: 70vh;

}

.gradient_names .bigg-name1 {
    z-index: 2401;
}

.gradient_names .bigg-name2 {
    z-index: 2402;
}

.gradient_names .bigg-name3 {
    z-index: 2403;
}

.gradient_names .bigg-name4 {
    z-index: 2404;
}

.gradient_names .bigg-name5 {
    z-index: 2405;
}

.gradient_names .bigg-name6 {
    z-index: 2406;
}

@keyframes gradient-opacity {
    to {
        opacity: 0.35;
    }

    ;
}



.highlights {
    font-family: 'DotFont', sans-serif;
    color: var(--color-yellow);
    font-size: 8vw;
    font-weight: 700;
    height: min-content;
    justify-content: center;
}




.wrapper {
    margin-top: 0vh;
    position: relative;
}

.wrapper i {
    top: 53%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    z-index: 1901;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
}

.wrapper i:active {
    transform: translateY(-50%) scale(0.85);
}

.wrapper i:first-child {
    left: -2vw;
}

.wrapper i:last-child {
    right: -2vw;
}

.wrapper .carousel {
    margin-bottom: 30px;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 10px);
    gap: 4vw;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel.no-transition {
    scroll-behavior: auto;
}

.carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.carousel.dragging .card {
    cursor: grab;
    user-select: none;
}

.carousel :where(.card, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel .card {
    z-index: 1900;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    list-style: none;
    font-family: 'Courier New', Courier, monospace;
    background-color: #000000;
    border-radius: 20px;
    height: 30vw;
    width: 28vw;
}

.wrapper .carousel .card img {
    width: 25vw;
    height: 20vw;
    border-radius: 20px;
    object-fit:fill;
}

.carousel .card h2 {
    font-weight: 700;
    font-size: 2vw;
    margin: 30px 0 5px;
}

.carousel .card span {
    color: white;
    font-size: 1.5vw;
}

.scroll-info-bar {
    height: 5px;
    z-index: 1910;
    background-color: #fff;
    position: absolute;
    bottom: -5vh;
    left: 0;
    width: 0%;
    transition: width 0.5s ease;
}







.last_container {
    width: 101.5vw;
    margin-left: -12vw;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
}

.contact {
    display: flex;
    flex-direction: row;
    background-color: rgb(37, 37, 37);
    padding-top: 5vh;
    z-index: 2500;
}

.contact .contact-heading {
    font-family: 'DotFont', sans-serif;
    color: var(--color-yellow);
    margin-top: 20vh;
    font-size: 5vw;
    font-weight: 700;
    height: min-content;

    justify-content: center;
    transform: rotate(-90deg);
}

.contact .contact-form {
    color: #fff;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 1.5vw;
}

.contact .contact-form .field {
    padding: 5px;
    color: #fff;
    padding-right: 30vw;
    border-radius: 4px;
    border: none;
    background-color: rgb(62, 62, 62);
    font-size: 1.5vw;
    font-weight: 500;
    font-family: sans-serif;
    margin-bottom: 5vh;
}

.contact .contact-form .btn {
    font-size: 1vw;
    padding: 1vw;
    padding-right: 1.5vw;
    padding-left: 1.5vw;
    margin-bottom: 5vh;
    max-width: 10vw;
    justify-self: center;
    border-radius: 1vw;
    border: none;
    font-family: sans-serif;
    cursor: pointer;
}
.contact .contact-form .btn:hover{
    background-color: rgb(123, 123, 123);
    color: #fff;
}



.loader-wrapper {
    z-index: 3001;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
}

.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}






.last_container .inner-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(52, 52, 52);
}

.last_container .inner-container .biggg-name {
    position: relative;
    margin-top: -10vw;
    font-size: 9vw;
    font-family: Arial, Helvetica, sans-serif;
    color: transparent;
    background: linear-gradient(to right, var(--color-orange), var(--color-magenta));
    -webkit-background-clip: text;
    background-clip: text;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.last_container .inner-container .biggg-name .sub-text {
    position: relative;
    font-size: 1vw;
    font-family: Arial, Helvetica, sans-serif;
    color:#fff;
    margin-top: -15vw;
}

.last_container .inner-container .map {
    height: 20vh;
}






@media (max-width:650px) {
    .outer{
        padding-top: 20vh;
        background-size: 400px 30vh;
    }
    .outer .name_and_buttons_inner .date_and_venue{
        margin-top: -7vw;
        margin-left: 1vw;
    }
    .info_container .info_exp {
        font-size: 3vw;
    }

    .events .event_title {
        font-size: 7vw;
        margin-left: -10vw;
    }

    .events .events-item {
        margin-left: -5vw;
    }

    .events .events-item .events-name {
        font-size: 3vw;
    }

    .events .events-item .events-view {
        font-size: 3vw;
    }

    .events .events-exp .divider {
        margin-left: -5vw;
    }

    .gradient_names .bigg-name1,
    .gradient_names .bigg-name2,
    .gradient_names .bigg-name3,
    .gradient_names .bigg-name4,
    .gradient_names .bigg-name5,
    .gradient_names .bigg-name6 {
        margin-top: -25vw;


        animation-range-start: 40vh;
        animation-range-end: 50vh;
    }

    .wrapper .carousel {
        gap: 30vw;
    }

    .carousel .card {
        border-radius: 10px;
        height: 50vw;
        width: 45vw;
    }

    .wrapper .carousel .card img {
        width: 40vw;
        height: 35vw;
        border-radius: 10px;
    }

    .carousel .card h2 {
        margin: 20px 0 5px;
    }

    .wrapper i:last-child {
        right: -7vw;
    }

    .wrapper i:first-child {
        left: -7vw;
    }

    .contact .contact-heading {
        margin-top: 10vw;
    }

    .contact .contact-form .field,
    .contact .contact-form span,
    .contact .contact-form .btn {
        margin-bottom: 10px;
    }
    .outer .name_and_buttons_inner .date_and_venue {
        font-size: 3vw;
    }


    .events{
        margin-top: 10vh;
    }
    .event_no::before{
        
        animation-range-start: 5vh;
        animation-range-end: 100vh;
    }
}